# PRACTICA 1

### Resuelve las siguientes preguntas empleando lo aprendido con las estructuras de Datos

Pon el código debajo de cada pregunta. Añade tantas celdas de código como necesites.

#### 1.- Escribe una ecuación que emplee multiplicación, división, un exponente, suma y resta y que sea igual a 100.25. (0,25 ptos)

In [4]:
(10*(10/10))**2+0.5-0.25

100.25

#### 2.- ¿Qué harías para obtener la raíz cuadrada de 100? Busca dos formas. (0,5 ptos)

In [1]:
100**0.5

10.0

In [2]:
100**(1/2)

10.0

#### 3.- ¿Y el cuadrado de 100? (0,25 ptos)

In [3]:
100**2

10000

#### 4.- Tenemos la string 'hello'. (0,5 ptos)
#### Primero devuelve la letra 'e'
#### Luego dale la vuelta a la string 
#### Después usa dos métodos para devolver la letra 'o'

In [6]:
s = 'hello'

In [7]:
s[1]

'e'

In [8]:
s[::-1]

'olleh'

In [9]:
s[4]

'o'

In [17]:
s[4:]

'o'

#### 5.- Crear una lista que contenga esto [0,0,0] de dos formas distintas (0,5 ptos)

In [19]:
mi_lista=[0,0,0]

In [20]:
mi_lista

[0, 0, 0]

In [111]:
lista2=[0,0]
lista2=lista2+[0]
lista2

[0, 0, 0]

#### 6.- Reasigna 'hello' en la lista a continuación para que diga 'goodbye' (1 pto)

In [ ]:
lista = [1,2,[3,4,'hello']]

In [28]:
lista=[1,2,[3,4,'goodbye']]

In [30]:
lista

[1, 2, [3, 4, 'goodbye']]

#### 7.- Ordena la siguiente lista (0,5 ptos)

In [31]:
listaSinOrdenar = [5,3,4,6,1]

In [32]:
listaSinOrdenar.sort()

In [33]:
listaSinOrdenar

[1, 3, 4, 5, 6]

#### 8.- En los siguientes diccionarios, extrae el valor de 'hello (2 ptos)

In [46]:
f = {'k1':{'k2':'hello'}}

In [95]:
f['k1']['k2']

'hello'

In [38]:
d = {'key1':'hello'}

In [40]:
d['key1']

'hello'

In [54]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}

In [105]:
g['k1'][0]['o1'][1][0]

'hello'

In [127]:
h = {'k1':[1,2,{'k2':['complicado',{'dificil':[1,2,['hello']]}]}]}

In [128]:
h['k1'][2]['k2'][1]['dificil'][2][0]

'hello'

#### 9.- Crea una tupla (1 pto)

In [1]:
t = (6,8,10)

#### 10.- Emplea los sets para encontrar los valores únicos de esta lista (0,5 ptos)

In [70]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]

In [71]:
set(listaDuplicada)

{1, 2, 3, 4, 11, 22, 33}

#### 11.- Haz las siguientes comparaciones: (0,5 ptos)
#### Dos mayor que tres
#### Tres igual que 2
#### La raíz cuadrada de cuatro no es igual a 2
#### Se cumple si 6 es mayor que 5 y 7 menor de 8
#### Se cumple si la longitud de _nombre_ es  que el número de elementos de _colores_ o si la longitud de _nombre_ es menor de 7.

In [72]:
# 2 mayor que 3
2>3

False

In [74]:
# 3 igual que 2
3==2

False

In [75]:
# raíz cuadrada de 4 no es igual a 2
4**0.5!=2

False

In [78]:
6>5 and 7<8

True

In [76]:
nombre = "Pepito"
colores = ["azul","rojo","verde","lila","amarillo limón"]

In [79]:
len("nombre")==len("colores")

False

In [77]:
len("nombre")<7

True

#### 12.- Crea un archivo mediante código que se llame _tabla-nombres.txt_ y que esté formado por 4 columnas y 4 filas con la siguiente formación (1,5 ptos):
#### Primera columna: Nombre
#### Segunda columna: Apellidos (2 apellidos)
#### Tercera columna: Edad
#### Cuarta columna: Mascotas (nombre de la mascota si tienen)

#### ¿Qué pasa si abres el archivo desde Jupyter y has metido acentos? ¿Puedes solucionarlo?

In [186]:
lst_1=["Nombre", "Apellidos","Edad", "Mascotas"]
lst_2=["Sofia", "Castillejo_Sanchez", 21, "Mancha"]
lst_3=["Lucia", "Castillejo_Sanchez", 17, "Mancha"]
lst_4=["Marta", "Lopez_Alvarez", 5, "Chispa"]
matrix = [lst_1,lst_2,lst_3,lst_4]
matrix

[['Nombre', 'Apellidos', 'Edad', 'Mascotas'],
 ['Sofia', 'Castillejo_Sanchez', 21, 'Mancha'],
 ['Lucia', 'Castillejo_Sanchez', 17, 'Mancha'],
 ['Marta', 'Lopez_Alvarez', 5, 'Chispa']]

#### 13.- Crea un diccionario que contenga las siguientes parejas. Obtén el listado de keys() y guárdalo en una lista. Añade un par de elementos más y después convierte esa lista en un set (1 pto).

#### Rattus = novergicus, rattus
#### Glaucidium = brasilianum, hoskinsii, californicum, minutissimum
#### Echinocactus = grusonii
#### Opuntia = 1

In [150]:
mi_dict={'rattus':['novergicus','rattus'], 'glaucidium':['brasilianum','hoskinsii','californicum','minutissimum'], 'echinocactus':['grusonii'], 'opuntia':['1']}
mi_dict

{'rattus': ['novergicus', 'rattus'],
 'glaucidium': ['brasilianum', 'hoskinsii', 'californicum', 'minutissimum'],
 'echinocactus': ['grusonii'],
 'opuntia': ['1']}

In [152]:
keys = list(mi_dict.keys())
keys

['rattus', 'glaucidium', 'echinocactus', 'opuntia']

In [153]:
keys=keys+['hello','goodbye']
keys

['rattus', 'glaucidium', 'echinocactus', 'opuntia', 'hello', 'goodbye']

In [154]:
keys=set(keys)
keys

{'echinocactus', 'glaucidium', 'goodbye', 'hello', 'opuntia', 'rattus'}